:root {
    /* Colores principales */
    --color-primary: #FFD700;   
    --color-secondary: #000000; 
    
    /* Variantes del amarillo */
    --color-primary-light: #FFEB3B; 
    --color-primary-dark: #FFC107;  
  
    /* Variantes del negro */
    --color-secondary-light: #333333;
    --color-secondary-dark: #1A1A1A; 
  
    /* Colores de fondo */
    --background-light: #FFF9C4; 
    --background-dark: #212121; 
  
    /* Colores de texto */
    --text-primary: #000000;    
    --text-secondary: #FFD700;   
    --text-muted: #666666;      
  
    /* Colores de borde */
    --border-color-light: #FFECB3;
    --border-color-dark: #4D4D4D; 
  
    /* Colores de acento */
    --accent-color: #FF6F00;      
    --accent-color-dark: #E65100; 
  
    /* Colores de estado */
    --success-color: #FFEB3B; 
    --warning-color: #FFC107; 
    --error-color: #FF5722;   
  }
header {
    background-color: var(--background-dark);
}

header .navbar ul{
    list-style: none;
    
}
